* {
    font-family: Century Gothic;
    font-size: 14px;
}

.my-canvas {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: white;
}

.herramientas {
    display: grid;
    grid-template-rows: max-content max-content;
}

.drawing-tools {
    width: 60%;
    margin-top: 4%;
    justify-self: center;
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #f9f9f9;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding-left: 1%;
    padding-top: 1%;
    height: fit-content;
}

.lapiz, .goma, .color-picker, .tool-size {
    grid-row: 2 / 3;
}

.lapiz-text, .goma-text, .color-picker-text {
    margin: 0;
    align-self: flex-start;
}

.lapiz {
    grid-column: 1 / 2;
}

.goma {
    grid-column: 3 / 4;
}

.color-picker {
    height: 38px;
    width: 42px;
}

.tool-size {
    display: grid;
    grid-row: 4 / -1;
    grid-column: 1 / -1;
    width: 100%;
}

.color-picker, .size-text {
    grid-column: 2 / 3;
}

.size-text {
    grid-column: 1 / -1;

    margin-bottom: 0;
}

.range {
    width: 80%;
    justify-self: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #3399ff;
}

.btn-descargar-imagen, .btn-limpiar-canvas {
    margin-left: 6%;
}

.btn-descargar-imagen {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.btn-descargar-canvas {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.btn-select-imagen {
    grid-column: 1 / 2;
}

.btn-limpiar-canvas {
    grid-column: 2 / 3;
}

.filtros {
    margin-top: 4%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    justify-content: center;
}

.drawing-tools, .image-buttons-bar {
    display: grid;
}

.image-buttons-bar, .drawing-tools, .filtros {
    margin-left: 6%;
}

.image-buttons-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    height: fit-content;
}

.image-buttons-bar button {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

}

.lapiz-img, .goma-img {
    width: 34px;
    height: 34px;
}

.image-buttons-bar button {
    background-color: #f9f9f9;
    padding: 4%;
    margin-bottom: 4%;
    border: 1px solid black;
}

.pressed-button {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;  
}

.input-select-image, .canvas-invisible {
    display: none;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #f9f9f9;
    padding: 16px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown, .dropbtn, .dropdown-content {
      width: 100%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f4f4f4;
  }

  .oculto {
      display: none;
  }