body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

select, input, body, button {
    font-family: "Grandstander";
}

.restart-div {
    margin: 5px;
    cursor: pointer;
    justify-self: right;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

header {
    display: grid;
}

input {
    font-size: 24px;
}

.canvas-holder{
    display: grid;
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

.canvas, .canvas-tablero {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.canvas {
    justify-self: center; 
    z-index: 1;
    align-self: center;
}

.canvas-tablero {
    z-index: 0;
    justify-self: center;
}

.hidden {
    display: none !important; 
}

.turno {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    width: fit-content;
    font-size: 30px;
    text-align: center;
    height: fit-content;
    padding: 14px;
}

.presentacion-juego {
    display: grid;
    align-self: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5%;
    height: fit-content;
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  
}

.titulo-juego {
    text-align: center;
}

.presentacion-juego p {
    cursor: default;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.dimensiones-tablero {
    font-size: 28px;
    justify-self: center;
    width: fit-content;
    outline: none;
    border-radius: 40px;
    padding: 4px;
}

.btn-jugar {
    font-size: 30px;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    width: 60%;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.presentacion-juego h1 {
    font-size: 40px;
    cursor: default;

}

.ayuda-juego p {
    font-size: 30px;
    padding-bottom: 4%;
}

.ayuda-juego {
    margin-left: 5px;
    margin-right: 5px;
}

.separador {
    background-image: linear-gradient(to right, black, gray);
    height: 4px;
    width: 100%;
}

.input-player {
    justify-self: center;
    width: 50%;
    height: 25px;
    border-radius: 40px;
    outline: none;
    text-align: center;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}

.error-name {
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red
}